:root {
    --red: #db545a;
}

#award {
    background-color: #000000;
}

.award-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: -20px;
}

.award-container-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.award-item {
    max-width: 400px;
    width: 80%;
    background-color: black;
    border: 2px solid white;
    margin: 30px;
    padding: 20px;
    height: fit-content;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

#footer img {
    max-width: 300px;
    width: 80%;
    height: 100%;
    /* margin-right: 200px; */
}

#footer ul {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-between;
}

#footer ul li {
    list-style-type: none;
    margin: 0 24px;
}

#footer ul a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: beVNPro-light;
    src: url(assets/font/BeVietnamPro-Light.ttf);
}

.cus-font-bevnpro-light {
    font-family: beVNPro-light !important;
}

@font-face {
    font-family: beVNPro-exbold;
    src: url(assets/font/BeVietnamPro-ExtraBold.ttf);
}

.cus-font-bevnpro-exbold {
    font-family: beVNPro-exbold !important;
}

@font-face {
    font-family: beVNPro-med;
    src: url(assets/font/BeVietnamPro-Medium.ttf);
}

.cus-font-bevnpro-med {
    font-family: beVNPro-med !important;
}

@font-face {
    font-family: beVNPro-regular;
    src: url(assets/font/BeVietnamPro-Regular.ttf);
}

.cus-font-bevnpro-regular {
    font-family: beVNPro-regular !important;
}

.logo {
    background-color: white;
    margin: 8px;
    border-radius: 20px;
}

html {
    font-family: beVNPro-med;
}

#timelineSection {
    background-color: black !important;
    margin: -22px 0;
    z-index: 0;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
header h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

header p {
    text-align: center;
    margin-bottom: 0;
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient( top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient( top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient( top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient( top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient( to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 2em 0;
}

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #e46262;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #e05959;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #e05959;
    bottom: -4px;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #e05959;
    display: inline-block;
    padding: 8px;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    color: rgb(254, 254, 254);
    opacity: 0.9;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
    font-size: .9em;
    font-weight: 200;
}

.direction-l {
    left: -120px !important;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
}

#sec-605e {
    margin-top: -80px;
}

@media (max-width: 768px) {
    .desc {
        background-color: rgb(254, 254, 254);
        color: black;
        width: 80vw;
        margin: 10px auto !important;
    }
    #footer {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }
    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }
    .direction-l {
        position: relative;
        width: 430px;
        float: left;
        text-align: right;
    }
    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }
    .flag-wrapper {
        display: inline-block;
    }
    .flag {
        font-size: 18px;
    }
    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254, 254, 254);
        border-width: 8px;
    }
    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -8px;
    }
    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }
    .direction-l .time-wrapper {
        float: left;
    }
    .direction-r .time-wrapper {
        float: right;
    }
    .time {
        padding: 5px 10px;
    }
    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media (min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .direction-l {
        position: relative;
        width: 500px;
        float: left;
        text-align: right;
    }
    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}


/* ADDITIONAL  */

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
:root {
    --primary-color: #353746;
    --overlay-color: rgba(53, 55, 70, 0.95);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    /* background-color: var(--primary-color); */
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: "";
    background: url("https://images.pexels.com/photos/37839/pexels-photo-37839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
}

.btnn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
    border-radius: 2rem;
}

.btnn:hover {
    opacity: 0.7;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 980px;
    flex-wrap: wrap;
    margin-left: 54.5rem;
    margin-top: -12rem;
}

.contact-details {
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(5px);
}

.btn {
    display: inline-block;
    padding-right: 1rem;
    text-decoration: none;
    color: #fff;
}

.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger line */

.menu-wrap .hamburger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Top and bottom lines */

.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves line down */

.menu-wrap .hamburger>div:after {
    top: 10px;
}


/* Toggler animate */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turn Lines into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate on hover when checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    width: 400vw;
    height: 400vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


/* SOURCE */

.u-section-1 {
    background-image: url("images/TAI_4189.jpg");
    background-position: 50% 50%;
    height: 100vh;
}

.u-section-1 .u-sheet-1 {
    min-height: calc(100vh + -66px);
}

.u-section-1 .u-image-1 {
    width: auto;
    height: 100%;
    margin: 440px 0 70px auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-image-1 {
        width: 497px;
        height: 134px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-image-1 {
        width: 381px;
        height: 103px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-image-1 {
        width: 357px;
        height: 97px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-image-1 {
        width: 300px;
        height: 81px;
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 716px;
}

.u-section-2 .u-layout-wrap-1 {
    margin: 112px auto 88px 0;
}

.u-section-2 .u-layout-cell-1 {
    min-height: 540px;
}

.u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-2 .u-text-1 {
    margin: 96px 0 0;
}

.u-section-2 .u-text-2 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
    line-height: 1.8;
    margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
    background-image: none;
    margin: 55px 0 55px auto;
}

.u-section-2 .u-layout-cell-2 {
    background-image: none;
    min-height: unset;
}

.u-section-2 .u-image-1 {
    object-position: 50% 100%;
    background-position: 50% 50%;
    width: 587px;
    height: 587px;
    background-image: url("images/TAI_4059.jpg");
    margin: -21px 32px 55px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .u-section-2 .u-text-1 {
        position: relative;
    }
    .u-section-2 .u-text-2 {
        position: relative;
        font-size: 2.25rem;
    }
    .u-section-2 .u-text-3 {
        position: relative;
    }
    .u-section-2 .u-image-1 {
        width: 484px;
        height: 484px;
        margin-left: -7px;
        margin-right: -7px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-2 .u-image-1 {
        width: 371px;
        height: 371px;
        margin-left: -4px;
        margin-right: -4px;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-container-layout-1 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .u-section-2 .u-image-1 {
        width: 544px;
        height: 544px;
        margin-left: -2px;
        margin-right: -2px;
        margin-bottom: 131px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-container-layout-1 {
        padding-left: 1px;
        padding-right: 1px;
    }
    .u-section-2 .u-layout-cell-2 {
        min-height: 442px;
    }
    .u-section-2 .u-image-1 {
        width: calc(100vw + -20px);
        height: calc(100vw + -20px);
        /* margin: -40px -39px 63px; */
    }
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 703px;
}

.u-section-3 .u-layout-wrap-1 {
    margin: 91px auto 91px 0;
}

.u-section-3 .u-image-1 {
    background-image: url("images/TAI_4128.jpg");
    min-height: 541px;
    background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 541px;
}

.u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-3 .u-text-1 {
    margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
    background-image: none;
    margin: 55px 0 35px auto;
}

@media (max-width: 1199px) {
    .u-section-3 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        margin: 0;
    }
    .u-section-3 .u-container-layout-2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .u-section-3 .u-text-1 {
        position: relative;
    }
    .u-section-3 .u-text-2 {
        position: relative;
        font-size: 2.25rem;
    }
    .u-section-3 .u-text-3 {
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-container-layout-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-container-layout-2 {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 496px;
}

.u-section-4 .u-group-1 {
    min-height: 152px;
    width: 800px;
    margin: 60px auto 0;
}

.u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
}

.u-section-4 .u-text-1 {
    margin: 15px 0 0;
}

.u-section-4 .u-text-2 {
    margin: 20px 0 15px;
}

.u-section-4 .u-layout-wrap-1 {
    margin: 36px auto 50px 0;
}

.u-section-4 .u-layout-cell-1 {
    min-height: 124px;
}

.u-section-4 .u-image-1 {
    height: 93px;
    width: 160px;
    margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
    background-image: none;
    min-height: 124px;
}

.u-section-4 .u-image-2 {
    height: 124px;
    width: 214px;
    margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
    background-image: none;
    min-height: 124px;
}

.u-section-4 .u-image-3 {
    height: 124px;
    width: 214px;
    margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
    background-image: none;
    min-height: 124px;
}

.u-section-4 .u-image-4 {
    height: 124px;
    width: 214px;
    margin: 0 auto;
}

.u-section-4 .u-layout-cell-5 {
    background-image: none;
    min-height: 124px;
}

.u-section-4 .u-image-5 {
    height: 124px;
    width: 214px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .u-section-4 .u-group-1 {
        width: 660px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 49px;
        padding-right: 49px;
    }
    .u-section-4 .u-text-1 {
        font-size: 2.25rem;
    }
    .u-section-4 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-4 .u-image-1 {
        height: 102px;
        width: 176px;
    }
    .u-section-4 .u-image-2 {
        height: 102px;
        width: 176px;
    }
    .u-section-4 .u-image-3 {
        height: 102px;
        width: 176px;
    }
    .u-section-4 .u-image-4 {
        height: 102px;
        width: 176px;
    }
    .u-section-4 .u-image-5 {
        height: 102px;
        width: 176px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-group-1 {
        width: 505px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 31px;
        padding-right: 31px;
    }
    .u-section-4 .u-image-1 {
        height: 78px;
        width: 135px;
    }
    .u-section-4 .u-image-2 {
        height: 78px;
        width: 135px;
    }
    .u-section-4 .u-image-3 {
        height: 78px;
        width: 135px;
    }
    .u-section-4 .u-image-4 {
        height: 78px;
        width: 135px;
    }
    .u-section-4 .u-image-5 {
        height: 78px;
        width: 135px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-group-1 {
        width: 474px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .u-section-4 .u-image-1 {
        height: 73px;
        width: 127px;
    }
    .u-section-4 .u-image-2 {
        height: 73px;
        width: 127px;
    }
    .u-section-4 .u-image-3 {
        height: 73px;
        width: 127px;
    }
    .u-section-4 .u-image-4 {
        height: 73px;
        width: 127px;
    }
    .u-section-4 .u-image-5 {
        height: 73px;
        width: 127px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-group-1 {
        width: 340px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 18px;
        padding-right: 18px;
    }
    .u-section-4 .u-image-1 {
        height: 62px;
        width: 106px;
    }
    .u-section-4 .u-image-2 {
        height: 62px;
        width: 106px;
    }
    .u-section-4 .u-image-3 {
        height: 62px;
        width: 106px;
    }
    .u-section-4 .u-image-4 {
        height: 62px;
        width: 106px;
    }
    .u-section-4 .u-image-5 {
        height: 62px;
        width: 106px;
    }
}

.u-section-5 {
    min-height: 579px;
}

.u-section-5 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
    background-image: url("images/TAI_4160.jpg");
    min-height: 579px;
    background-position: 50% 50%;
    opacity: 1;
}

.u-section-5 .u-image-2 {
    background-image: url("images/TAI_4105.jpg");
    min-height: 579px;
    background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
    background-image: url("images/TAI_4164.jpg");
    min-height: 579px;
    background-position: 50% 50%;
    opacity: 1;
    transform: scaleX(-1);
}

@media (max-width: 1199px) {
    .u-section-5 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
}

.u-section-6 {
    background-image: none;
}

.u-section-6 .u-sheet-1 {
    min-height: 716px;
}

.u-section-6 .u-layout-wrap-1 {
    margin: 88px 0 88px auto;
}

.u-section-6 .u-layout-cell-1 {
    background-image: none;
    min-height: 540px;
}

.u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 28px;
}

.u-section-6 .u-text-1 {
    margin: 55px 0 0;
}

.u-section-6 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
    background-image: none;
    margin: 55px 0 55px auto;
}

.u-section-6 .u-image-1 {
    min-height: 540px;
    background-image: url("images/TAI_4105.jpg");
    background-position: 50% 50%;
}

@media (max-width: 1199px) {
    .u-section-6 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-6 .u-container-layout-1 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .u-section-6 .u-text-1 {
        position: relative;
    }
    .u-section-6 .u-text-2 {
        position: relative;
        font-size: 2.25rem;
    }
    .u-section-6 .u-text-3 {
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-container-layout-1 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-container-layout-1 {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.u-section-7 {
    background-image: none;
}

.u-section-7 .u-sheet-1 {
    min-height: 716px;
}

.u-section-7 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
    min-height: 596px;
}

.u-section-7 .u-layout-cell-2 {
    min-height: 596px;
    background-image: none;
}

.u-section-7 .u-container-layout-2 {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-7 .u-text-1 {
    margin: 40px 0 0;
}

.u-section-7 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
    background-image: none;
    margin: 53px 0 40px auto;
}

@media (max-width: 1199px) {
    .u-section-7 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-7 .u-image-1 {
        width: 485px;
        height: 485px;
        margin-left: -7px;
        margin-right: -7px;
    }
    .u-section-7 .u-container-layout-2 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .u-section-7 .u-text-1 {
        position: relative;
    }
    .u-section-7 .u-text-2 {
        position: relative;
        font-size: 2.25rem;
    }
    .u-section-7 .u-text-3 {
        position: relative;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-image-1 {
        width: 371px;
        height: 371px;
        margin-left: -5px;
        margin-right: -5px;
    }
    .u-section-7 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-layout-cell-1 {
        min-height: 436px;
    }
    .u-section-7 .u-image-1 {
        width: 553px;
        height: 553px;
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: 35px;
    }
    .u-section-7 .u-container-layout-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
        min-height: 875px;
    }
    .u-section-7 .u-layout-wrap-1 {
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-7 .u-layout-cell-1 {
        min-height: 264px;
    }
    .u-section-7 .u-image-1 {
        width: 394px;
        height: 394px;
        margin: -141px -27px 11px;
    }
    .u-section-7 .u-layout-cell-2 {
        min-height: 525px;
    }
    .u-section-7 .u-container-layout-2 {
        padding-left: 1px;
        padding-right: 1px;
    }
    .u-section-7 .u-btn-1 {
        margin-bottom: 0;
    }
}

.u-section-8 {
    background-image: none;
}

.u-section-8 .u-sheet-1 {
    min-height: 640px;
}

.u-section-8 .u-layout-wrap-1 {
    margin: 92px auto 92px 0;
}

.u-section-8 .u-layout-cell-1 {
    min-height: 477px;
}

.u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-8 .u-text-1 {
    margin: 33px 0 0;
}

.u-section-8 .u-text-2 {
    margin: 20px 0 33px;
}

.u-section-8 .u-image-1 {
    background-image: url("images/TAI_4082.jpg");
    min-height: 477px;
    background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-3 {
    min-height: 477px;
}

.u-section-8 .u-container-layout-3 {
    padding-left: 20px;
}

.u-section-8 .u-text-3 {
    margin: 33px 20px 0 0;
}

.u-section-8 .u-social-icons-1 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 174px;
    min-width: 120px;
    margin: 25px auto 33px 0;
}

.u-section-8 .u-icon-1 {
    height: 100%;
}

.u-section-8 .u-icon-2 {
    height: 100%;
}

.u-section-8 .u-icon-3 {
    height: 100%;
}

.u-section-8 .u-icon-4 {
    height: 100%;
}

.u-section-8 .u-icon-5 {
    height: 100%;
}

@media (max-width: 1199px) {
    .u-section-8 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-8 .u-container-layout-1 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .u-section-8 .u-text-1 {
        position: relative;
    }
    .u-section-8 .u-text-2 {
        position: relative;
        font-size: 2.25rem;
    }
    .u-section-8 .u-container-layout-3 {
        padding-left: 16px;
    }
    .u-section-8 .u-text-3 {
        position: relative;
        margin-right: 16px;
    }
}

@media (max-width: 991px) {
    .u-section-8 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-8 .u-container-layout-3 {
        padding-left: 0;
    }
    .u-section-8 .u-text-3 {
        width: auto;
        margin-top: 128px;
        margin-right: -40px;
    }
    .u-section-8 .u-social-icons-1 {
        margin-top: 28px;
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {
    .u-section-8 .u-layout-cell-1 {
        min-height: 259px;
    }
    .u-section-8 .u-container-layout-1 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .u-section-8 .u-text-2 {
        margin-bottom: 0;
    }
    .u-section-8 .u-image-1 {
        min-height: 814px;
        background-position: 50% 2.62%;
    }
    .u-section-8 .u-layout-cell-3 {
        min-height: 240px;
    }
    .u-section-8 .u-container-layout-3 {
        padding-left: 20px;
    }
    .u-section-8 .u-text-3 {
        margin-top: 20px;
        margin-right: 64px;
    }
    .u-section-8 .u-social-icons-1 {
        margin-top: 32px;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    /* .u-section-8 .u-layout-cell-1 {
        min-height: 477px;
    } */
    .u-section-8 .u-layout-wrap-1 {
        margin: unset;
    }
    .u-section-8 .u-container-layout-1 {
        padding-left: 6px;
        padding-right: 6px;
    }
    .u-section-8 .u-text-2 {
        margin-bottom: 33px;
    }
    .u-section-8 .u-image-1 {
        min-height: 477px;
        background-position: 50% 50%;
    }
    /* .u-section-8 .u-layout-cell-3 {
        min-height: 477px;
    } */
    .u-section-8 .u-container-layout-3 {
        padding-left: 6px;
    }
    .u-section-8 .u-text-3 {
        margin-top: 33px;
        margin-right: 6px;
        width: NaNpx;
    }
    .u-section-8 .u-social-icons-1 {
        margin-top: 25px;
        margin-bottom: 33px;
    }
}

.u-section-9 {
    background-image: url("images/TAI_4367.jpg");
    background-position: 50% 23.79%;
}

.u-section-9 .u-sheet-1 {
    min-height: 653px;
}

.judges {
    display: flex;
    margin: 0 80px;
}

.img-1 {
    border-radius: 0;
    background-image: url("images/NAG-Khánh-Phan-0.jpg");
}

.u-section-10 .u-sheet-10 {}

.u-section-10 {
    background-color: #000000;
}

.u-section-10 .u-text-10 {
    font-weight: 700;
    width: 784px;
    margin: 60px auto 0;
}

.u-section-10 .u-text-20 {
    width: 838px;
    margin: 30px auto 0;
}

.u-section-10 .u-list-10 {
    grid-template-rows: repeat(2, auto);
    margin-top: 20px;
    margin-bottom: -76px;
}

.u-section-10 .u-repeater-10 {
    grid-template-columns: repeat(2, 50%);
    min-height: 368px;
    grid-gap: 0px;
}

.u-section-10 .u-container-layout-10 {
    padding: 30px;
}

.u-section-10 .u-image-10 {
    width: 255px;
    height: 308px;
    object-position: 50% 0%;
    margin: 0 auto 0 0;
}

.u-section-10 .u-group-10 {
    width: 255px;
    /* min-height: 308px; */
    background-image: none;
    margin: -308px 0 0 auto;
}

@media (min-width: 1024px) {
    .u-section-10 .u-group-10 {
        min-height: 308px;
    }
    .u-section-10 .u-group-20 {
        min-height: 308px;
    }
}

.u-section-10 .u-container-layout-20 {
    padding: 20px;
}

.u-section-10 .u-text-3 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 19px 0 0;
}

.u-section-10 .u-text-4 {
    font-style: normal;
    margin: 20px 0 0;
}

.u-section-10 .u-container-layout-3 {
    padding: 30px;
}

.u-section-10 .u-image-20 {
    width: 255px;
    height: 308px;
    margin: 0 auto 0 0;
}

.u-section-10 .u-group-20 {
    width: 255px;
    /* min-height: 308px; */
    background-image: none;
    margin: -308px 0 0 auto;
}

.u-section-10 .u-container-layout-4 {
    padding: 20px;
}

.u-section-10 .u-text-5 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 19px 0 0;
}

.u-section-10 .u-text-6 {
    font-style: normal;
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-10 .u-repeater-10 {
        /* min-height: 303px; */
    }
    .u-section-10 .u-group-10 {
        /* min-height: 224px; */
        margin-top: 20px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-10 .u-group-20 {
        /* min-height: 224px; */
        margin-top: 20px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}

@media (max-width: 991px) {
    .u-section-10 .u-text-10 {
        width: 720px;
    }
    .u-section-10 .u-text-20 {
        width: 720px;
    }
    .u-section-10 .u-list-10 {
        margin-bottom: -9px;
    }
    .u-section-10 .u-repeater-10 {
        grid-template-columns: 100%;
    }
    .u-section-10 .u-container-layout-10 {
        padding-bottom: 27px;
    }
    .u-section-10 .u-image-10 {
        margin-left: auto;
    }
    .u-section-10 .u-container-layout-3 {
        padding-bottom: 27px;
    }
    .u-section-10 .u-image-20 {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .u-section-10 .u-text-10 {
        width: 540px;
    }
    .u-section-10 .u-text-20 {
        width: 540px;
    }
    .u-section-10 .u-container-layout-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-10 .u-container-layout-20 {
        padding-left: 10px;
    }
    .u-section-10 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-10 .u-container-layout-4 {
        padding-left: 10px;
    }
    .u-container-style div,
    .u-container-style {
        /* height: fit-content !important; */
    }
}

@media (max-width: 575px) {
    .u-section-10 .u-text-10 {
        width: 340px;
    }
    .u-section-10 .u-text-20 {
        width: 340px;
    }
    .u-section-10 .u-list-10 {
        margin-bottom: -76px;
    }
    .u-section-10 .u-group-10 {
        /* min-height: 244px; */
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-10 .u-group-20 {
        /* min-height: 244px; */
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
    .u-section-10 .u-container-layout-4 {
        padding-top: 20px;
    }
}